<section id="aboutbesos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About BESOS</h2>
            </div>
        </div>
        

    <div class="row">
          
          <div class="col-sm-12">  
            {{ with .Site.GetPage "doc/aboutbesos.md" }}
              {{ .Content }}
            {{ end }}
               {{ with .Site.GetPage "About-BESOS/surrogate-models.md" }}
              <!-- surrogate-models-Modal -->
              <div id="surrogate-models-Modal" class="modal fade"  role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" align="center">{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body text-justify">
                      <div style="padding-right:35px;">
                      {{ .Content }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              {{ end }}

              {{ with .Site.GetPage "About-BESOS/Energy-hub-modelling.md" }}
              <!-- Energy-hub-modelling-Modal -->
              <div id="Energy-hub-modelling-Modal" class="modal fade"  role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" align="center">{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body text-justify">
                      <div style="padding-right:35px;">
                      {{ .Content }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              {{ end }} 
            
        </div>
    </div>
  </div>
</section>