<section id="aboutus" class="bg-white">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">About us</h2>
        </div>
    </div>

    
<div class="row">
          
          <div class="col-sm-12">  
            {{ with .Site.GetPage "doc/aboutus.md" }}
              {{ .Content }}
            {{ end }}
            
        </div>
    </div>
  </div>
</section>