<section id="documentation" class="bg-white">
    <div class="container">
  
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Documentation</h2>
               
            </div>
        </div>
  
        <div class="row">
         
          <div class="col-sm-12">  
            {{ with .Site.GetPage "doc/documentation.md" }}
              {{ .Content }}
            {{ end }}
            
            {{ with .Site.GetPage "Documentation/GettingStarted_interactive.md" }}
              <!-- surrogate-models-Modal -->
              <div id="interactive-Modal" class="modal fade"  role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" align="center">{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body text-justify">
                      <div style="padding-right:35px;">
                      {{ .Content }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              {{ end }}

              {{ with .Site.GetPage "Documentation/GettingStarted_Jupyter.md" }}
              <!-- surrogate-models-Modal -->
              <div id="jupyter-Modal" class="modal fade"  role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" align="center">{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body text-justify">
                      <div style="padding-right:35px;">
                      {{ .Content }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              {{ end }}

              {{ with .Site.GetPage "Documentation/GettingStarted_CC.md" }}
              <!-- surrogate-models-Modal -->
              <div id="CC-Modal" class="modal fade"  role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" align="center">{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body text-justify">
                      <div style="padding-right:35px;">
                      {{ .Content }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              {{ end }}

              {{ with .Site.GetPage "Documentation/GettingStarted_opensource.md" }}
              <!-- surrogate-models-Modal -->
              <div id="python-Modal" class="modal fade"  role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title" align="center">{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body text-justify">
                      <div style="padding-right:35px;">
                      {{ .Content }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              {{ end }}
            
            
        </div>
    </div>

</section>