<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Introduction</h2>
            </div>
        </div>
        

    <div class="row">
          
          <div class="col-sm-12">  
            {{ with .Site.GetPage "Introduction/introduction.md" }}
              {{ .Content }}
            {{ end }}            
        </div>
    </div>
  </div>
</section>