<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-brand page-scroll">
            <a href="https://www.uvic.ca" target="_blank" id="logo">
              <img alt="University of Victoria" src="img/logos/uvic-logo-print.png">
            </a>
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ range .Site.Menus.main.ByWeight }}
                  <li><a class="page-scroll" href="{{ .URL }}">{{ .Name }}</a></li>                  
                {{ end }}
               
                <li><a href="https://hub.besos.uvic.ca/"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                <li><a href="https://forms.gle/rgwVLnyB3Mw7U6YcA/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>
            
        </div>

        

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>