<section id="examplenotebooks">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Example Notebooks</h2>
        <p>These are examples of the many notebooks that are available on the BESOS platform.</p>
        <p>They open on MyBinder, where you can edit and run them but not save them.</p>
        <p>MyBinder might take a while to load, please be patient.</p>
      </div>

      <div class="row">
        <h3>Surrogate Modelling</h3>
        {{ range where .Pages "Type" "Surrogate-Modelling" }}
          <div class="col-md-3">
          <a href="{{ .Params.link }}" class="portfolio-link" target="_blank">
            <div class="a-portfolio img-rounded">
                <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
                <div class="portfolio-caption">
                    <h4>{{ .Title | safeHTML}}</h4>
                </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>

      <div class="row">
        <h3>Optimization</h3>
        {{ range where .Pages "Type" "Optimization" }}
          <div class="col-md-3">
          <a href="{{ .Params.link }}" class="portfolio-link" target="_blank">
            <div class="a-portfolio img-rounded">
                <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
                <div class="portfolio-caption">
                    <h4>{{ .Title | safeHTML}}</h4>
                </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>

      <div class="row">
        <h3>Energy Hub Modelling</h3>
        {{ range where .Pages "Type" "Energy-Hub-Modelling" }}
          <div class="col-md-3">
          <a href="{{ .Params.link }}" class="portfolio-link" target="_blank">
            <div class="a-portfolio img-rounded">
                <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
                <div class="portfolio-caption">
                    <h4>{{ .Title | safeHTML}}</h4>
                </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>

      <div class="row">
        <h3>Data Analysis</h3>
        {{ range where .Pages "Type" "Data-Analysis" }}
          <div class="col-md-3">
          <a href="{{ .Params.link }}" class="portfolio-link" target="_blank">
            <div class="a-portfolio img-rounded">
                <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
                <div class="portfolio-caption">
                    <h4>{{ .Title | safeHTML}}</h4>
                </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>

      <div class="row">
        <h3>Tutorials</h3>
        {{ range where .Pages "Type" "Tutorials" }}
          <div class="col-md-3">
          <a href="{{ .Params.link }}" class="portfolio-link" target="_blank">
            <div class="a-portfolio img-rounded">
                <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
                <div class="portfolio-caption">
                    <h4>{{ .Title | safeHTML}}</h4>
                </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>


    
    
  </div>
</section>