<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>
<script>
  $(document).ready(function() {
  if(window.location.href.indexOf('#besosModal') != -1) {
    $('#besosModal').modal('show');
  }

});
</script>

<!-- <script src="js/math-code.js"></script>
<script async
  src="https://mathjax.rstudio.com/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->