<div class="row">
      
      <div class="col-md-2 col-md-offset-1">
        {{ with .Site.GetPage "notelib/01-Surrogate-modelling.md" }}
        <a href="{{ .Params.link }}" class="portfolio-link">
          <div class="a-portfolio img-rounded">
              <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt=""> <!-- The images used here in all the column <div>s should be of same size. The sample image used was of size 224x302 which can be used as a reference. It is suggested that vertical images be used since the columns are vertically aligned. OR use <div class="container"> without the <div class="row"> since containers auto adjusts the image size.-->
              <div class="portfolio-caption">
                  <h4>{{ .Title | safeHTML}}</h4>
                  <p class="text-muted text-left">
                    {{ .Description | safeHTML}}
                  </p>
              </div>
          </div>
        </a>
        {{ end }}
      </div>

      <div class="col-md-2">
       {{ with .Site.GetPage "notelib/02-Optimization.md" }}
        <a href="{{ .Params.link }}" class="portfolio-link">
          <div class="a-portfolio img-rounded">
              <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
              <div class="portfolio-caption">
                  <h4>{{ .Title | safeHTML}}</h4>
                  <p class="text-muted text-left">
                    {{ .Description | safeHTML}}
                  </p>
              </div>
          </div>
        </a>
        {{ end }} 
      </div>

      
      <div class="col-md-2">
       {{ with .Site.GetPage "notelib/03-Energy-hub-modelling.md" }}
        <a href="{{ .Params.link }}" class="portfolio-link">
          <div class="a-portfolio img-rounded">
              <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
              <div class="portfolio-caption">
                  <h4>{{ .Title | safeHTML}}</h4>
                  <p class="text-muted text-left">
                    {{ .Description | safeHTML}}
                  </p>
              </div>
          </div>
        </a>
        {{ end }} 
      </div>


      
      <div class="col-md-2">
       {{ with .Site.GetPage "notelib/04-Data-Analysis.md" }}
        <a href="{{ .Params.link }}" class="portfolio-link">
          <div class="a-portfolio img-rounded">
              <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
              <div class="portfolio-caption">
                  <h4>{{ .Title | safeHTML}}</h4>
                  <p class="text-muted text-left">
                    {{ .Description | safeHTML}}
                  </p>
              </div>
          </div>
        </a>
        {{ end }} 
      </div>


      
      <div class="col-md-2">
       {{ with .Site.GetPage "notelib/05-Tutorials.md" }}
        <a href="{{ .Params.link }}" class="portfolio-link">
          <div class="a-portfolio img-rounded">
              <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
              <div class="portfolio-caption">
                  <h4>{{ .Title | safeHTML}}</h4>
                  <p class="text-muted text-left">
                    {{ .Description | safeHTML}}
                  </p>
              </div>
          </div>
        </a>
        {{ end }} 
      </div>


    </div>





    <section id="notebooklibrary">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Notebook library</h2>
      </div>

      {{ range where .Pages "Type" "Notebook-Library" }}
      <div class="row">
        {{ range "{{.}}/*" }}
        <div class="col-md-3">
          
          <a href="{{ .Params.link }}" class="portfolio-link">
          <div class="a-portfolio img-rounded">
              <img src="{{ .Params.img }}" class="horizontal-center img-responsive img-rounded" alt="">
              <div class="portfolio-caption">
                  <h4>{{ .Title | safeHTML}}</h4>
                  <!-- <p class="text-muted text-left">
                    {{ .Description | safeHTML}}
                  </p> -->
              </div>
          </div>
          </a>
          
          
        </div>
        {{ end }}
      </div>
      {{ end }}

    
    
  </div>
</section>