<section id="whyusebesos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why use BESOS?</h2>
            </div>
        </div>
        
      
      <div class="row">
        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/notebooks.md" }}
            <div class="a-portfolio img-rounded">
              <i class="fas fa-book fa-2x"></i>
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>

        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/cloud.md" }}
         
            <div class="a-portfolio img-rounded">
              <i class="fas fa-cloud fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>

        
        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/notebooks-as-apps.md" }}
          
            <div class="a-portfolio img-rounded">
              <i class="fas fa-sliders-h fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>


        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/templates.md" }}
          
            <div class="a-portfolio img-rounded">
              <i class="far fa-window-restore fa-2x"></i>
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>
      </div>

      
      <div class="row">  
        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/learn.md" }}
          
            <div class="a-portfolio img-rounded">
              <i class="fas fa-graduation-cap fa-2x"></i>
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>
        
        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/expert-control.md" }}
         
            <div class="a-portfolio img-rounded">
              <i class="fas fa-terminal fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>

        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/besoslibrary.md" }}
         
            <div class="a-portfolio img-rounded">
              <i class="fas fa-book-open fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
         
          {{ end }}
        </div>

		<div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/pyehublibrary.md" }}
         
            <div class="a-portfolio img-rounded">
              <i class="fas fa-book-open fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
         
          {{ end }}
        </div>

      </div>

      <div class="row">

        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/export.md" }}
         
            <div class="a-portfolio img-rounded">
              <i class="fas fa-file-export fa-2x"></i> 
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          {{ end }}
        </div>

        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/collaborate.md" }}
          
            <div class="a-portfolio img-rounded">
              <i class="fas fa-users fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>
       
        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/share.md" }}
            <div class="a-portfolio img-rounded">
              <i class="fas fa-share-alt fa-2x"></i>
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
          
          {{ end }}
        </div>

        <div class="col-md-3">
          {{ with .Site.GetPage "Why-Use-BESOS/cluster-integration.md" }}
          
            <div class="a-portfolio img-rounded">
              <i class="fas fa-braille fa-2x"></i>  
                <div class="portfolio-caption">
                    <p class="text-muted text-left">
                      {{ .Content | safeHTML}}
                    </p>
                </div>
            </div>
         
          {{ end }}
        </div>
          
      </div> 
    </div>
</section>