<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "scripts.html" . }}
    </body>
</html>
